.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* custom css */

body {
  background-image: url(./pexels-adrien-olichon-2387793.jpg);
}
.container {
  width: 70%;
  margin-left: 15%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.padd {
  padding: 15px;
}

.padd>h1 {
  color: white;
}

.movie-search {
  width: 85%;
  height: 40px;
  font-size: 14px;
  border-radius: 10px;
  border: 1.5px solid white;
  outline: none;
  text-indent: 20px;
  color: white;
  background-color: rgb(102, 102, 102);
}

.movie {
  padding: 5px;
  margin-top: 30px;
  display: flex;
  justify-content: space-between
}

.poster {
  height: 600px;
  width: 30%;
}

.detail {
  width: 65%;
  color: white;
}

.img-poster  {
  width: 100%;
}

.padd p {
  font-size: 14px;
}

h1,h2, h3 {
  margin: 0px;
}

.ratings {
  display: flex;
}

.ratings>div {
  margin-right: 20px;
}

.input-group {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
}

.input-group>::placeholder {
  color:rgba(224, 224, 224,.6);
}

.btn {
  border: none;
  background-color: rgb(9, 144, 255);
  font-size: 18px;
  border-radius: 8px;
  color: white;
  padding: 12px;
  cursor: pointer;
}

/* Media Query */

@media only screen and (max-width:1200px) {
  .container {
    width: 70vh;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .movie-search {
    width: 50vh;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    border: 1.5px solid white;
    outline: none;
    text-indent: 20px;
    color: white;
    background-color: rgb(102, 102, 102);
  }

  .movie {
    padding: 5px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between
  }

  .poster {
    height: 250vh;
    width: 40vh;
  }

  .detail {
    color: white;
    width: 50vh;
    margin-left: 20px;
  }

  .padding > h1 {
    font-size: 22px;
  }

  .padd p {
    font-size: 12px;
  }
}

@media only screen and (max-width:992px) {
  .container {
    width: 100%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
  }

  .movie-search {
    width: 25vh;
    height: 40px;
    font-size: 14px;
    border-radius: 10px;
    border: 1.5px solid white;
    outline: none;
    text-indent: 20px;
    color: white;
    background-color: rgb(102, 102, 102);
  }

  .input-group {
    display: flex;
    margin-top: 10px;
    justify-content: start;
  }

  .btn {
    border: none;
    background-color: rgb(9, 144, 255);
    font-size: 12px;
    border-radius: 8px;
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-left: 20px;
  }

  .movie {
    padding: 5px;
    margin-top: 30px;
    /* flex-direction: column; */
  }

  .poster {
    width: 325px;
    overflow: hidden;
  }

.detail {
    color: white;
    margin-left: -300px;
    margin-top: 420px;
  }

  .padding > h1 {
    font-size: 22px;
  }

  .padd p {
    font-size: 12px;
  }
}


@media only screen and (max-width:768px) {
  .container {
    width: 100%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
  }

  .movie-search {
    width: 25vh;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    border: 1.5px solid white;
    outline: none;
    text-indent: 20px;
    color: white;
    background-color: rgb(102, 102, 102);
  }

  .input-group {
    display: flex;
    margin-top: 10px;
    justify-content: start;
  }

  .btn {
    border: none;
    background-color: rgb(9, 144, 255);
    font-size: 12px;
    border-radius: 8px;
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-left: 40px;
  }

  .movie {
    padding: 5px;
    margin-top: 20px;
    /* flex-direction: column; */
  }

  .poster {
    width: 300px;
  }

.detail {
    color: white;
    margin-left: -300px;
    margin-top: 460px;
  }

  .padding > h1 {
    font-size: 22px;
  }

  .padd p {
    font-size: 12px;
  }
}

@media only screen and (max-width:567px) {
  .container {
    width: 100%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
  }

  .movie-search {
    width: 30vh;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    border: 1.5px solid white;
    outline: none;
    text-indent: 8px;
    color: white;
    background-color: rgb(102, 102, 102);
  }

  .input-group {
    display: flex;
    margin-top: 10px;
    justify-content: start;
  }

  .btn {
    border: none;
    background-color: rgb(9, 144, 255);
    font-size: 12px;
    border-radius: 8px;
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-left: 20px;
  }

  .movie {
    padding: 5px;
    margin-top: 20px;
    /* flex-direction: column; */
  }

  .poster {
    width: 275px;
  }

.detail {
    color: white;
    margin-left: -280px;
    margin-top: 420px;
  }

  .padding > h1 {
    font-size: 22px;
  }

  .padd p {
    font-size: 12px;
  }
}

@media only screen and (max-width:376px) {
  .container {
    width: 100%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
  }

  .movie-search {
    width: 25vh;
    height: 25px;
    font-size: 12px;
    border-radius: 10px;
    border: 1.5px solid white;
    outline: none;
    text-indent: 8px;
    color: white;
    background-color: rgb(102, 102, 102);
  }

  .input-group {
    display: flex;
    margin-top: 10px;
    justify-content: start;
  }

  .btn {
    border: none;
    background-color: rgb(9, 144, 255);
    font-size: 12px;
    border-radius: 8px;
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-left: 20px;
  }

  .movie {
    padding: 5px;
    margin-top: 20px;
  }

  .poster {
    width: 45vh;
    overflow: hidden;
  }

.detail {
    color: white;
    margin-left: -300px;
    margin-top: 470px;
  }

  .padding > h1 {
    font-size: 18px;
  }

  .padd p {
    font-size: 12px;
  }
}


@media only screen and (max-width:360px) {
  .container {
    width: 100%;
    margin-left: 2%;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
  }

  .movie-search {
    width: 25vh;
    height: 30px;
    font-size: 14px;
    border-radius: 10px;
    border: 1.5px solid white;
    outline: none;
    text-indent: 8px;
    color: white;
    background-color: rgb(102, 102, 102);
  }

  .input-group {
    display: flex;
    margin-top: 10px;
    justify-content: start;
  }

  .btn {
    border: none;
    background-color: rgb(9, 144, 255);
    font-size: 12px;
    border-radius: 8px;
    color: white;
    padding: 8px;
    cursor: pointer;
    margin-left: 20px;
  }

  .movie {
    padding: 5px;
    margin-top: 20px;
    /* flex-direction: column; */
  }

  .poster {
    width: 275px;
  }

.detail {
    color: white;
    margin-left: -270px;
    margin-top: 420px;
  }

  .padding > h1 {
    font-size: 22px;
  }

  .padd p {
    font-size: 12px;
  }
}

